<!DOCTYPE html>
<html>

<head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
<title>Luke Eyles</title>
<meta name="viewport" content="width=device-width">
</head>

<body>
<header>
    <a href="/index.html"><h1>Recipes</h1></a>
    <hr>
</header>

<input type="range" min="0" max="5" value="2" class="slider"><span class="multiplier">1</span>x