body {
    background-color: #1e1e1e;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #dadada;
    padding-left: clamp(1rem, 5vw, 5rem);
    padding-right: clamp(1rem, 5vw, 5rem);
}

hr {
    color: #a6a6a6;
    background-color: #a6a6a6;
    height: 1px;
    border: none;
}

h1 {
    font-weight: 700;
}

h4 {
    margin-block-end: 0.5em;
}

p {
    font-weight: 400;
}

div.sidebar {
    width: 20%;
    height: 100%;
    background-color: #262626;
    padding: 20px;
    position: fixed;
    list-style-type: none;
    max-width: 200px;
}

div.content {
    display: inline-block;
    margin-left: 20%;
    padding-left: 60px;
}

th, td {
    padding-right: 30px;
}

/* align first column to the right */
table.aligned td:nth-child(1) {
    /* text-align: end;  */
    /* width: 80px; */
}

a {
    color: cornflowerblue;
}

a:hover {
    color: lightblue
}

ol, ul {
    padding-left: 0px;
    list-style-position: inside;
}

ul {
    list-style-type: none;
} 

em {
    font-style: normal;
}